/* initialisation */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* health-intro CSS */
.health-intro {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  padding-top: 10%;
}

.health-intro h1 {
  text-align: center;
  font-size: 2.125rem;
  color: #00b39b;
}

.health-intro div {
  display: flex;
}
.health-intro div p {
  /* width: 45%; */
  padding: 3%;
  line-height: 1.75;
}

/*text before countries*/

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 10%;
  padding: 3%;
}
#h2 {
  font-size: 2.125rem;
  color: #00b39b;
  padding: 0% 20%;
  text-align: center;
}

#p {
  text-align: center;
  padding: 2% 21%;
}

/* Countries CSS */

.button {
  font-size: 12px;
  background-color: rgb(52, 52, 243);
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-style: bolder;
  padding: 0.3%;
  border-radius: 5px;
  cursor: pointer;
}

.countries div div p {
  font-family: "Montserrat", sans-serif;
  font-size: 150%;
  font-style: bold;
}

/* Country CSS */
.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3%;
  margin: 2% 10%;
}

/* countries sections */

.countries div {
  margin-bottom: 2%;
  border-radius: 3%;
}

/* oppening see */

.countries div div {
  display: flex;
  justify-content: space-around;
}

/* country hover */

/* .countries:hover {
  box-shadow: 5px 0px 5px grey;
  cursor: pointer;
} */

.country-card:hover {
  box-shadow: 5px 0px 5px grey;
  cursor: pointer;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  position: fixed;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  z-index: 3;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 40%;
}

.navbar ul li {
  padding: 3%;
}

/*logo*/

.navbar img {
  width: 268px;
  height: 33px;
}

/* text style*/
.navbar ul li a {
  text-decoration: none;
}

/*hover*/

.navbar ul li :hover {
  cursor: pointer;
}

/*departments menu*/

.dropdown {
  display: none;
}

.navbar ul li:hover .dropdown {
  display: block;
  position: absolute;
  background-color: cornsilk;
  margin-top: 10px;
  margin-right: 10px;
}

.navbar ul li:hover .dropdown ul {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
}

.navbar ul li:hover .dropdown ul li {
  width: 200px;
  text-align: left;
  margin: 3px;
  padding: 3px;
}

/*services items*/

.services_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 10%;
  padding: 3%;
}

/*patients*/

.patients div img {
  width: 24px;
  height: 24px;
}

.patients {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1%;
  padding: 1%;
  background-color: #00b39b;
  color: white;
  border-radius: 5%;
}

/*dropdown menu*/

.nav ul {
  list-style: none;
}
.navmenu {
  display: none;
}
.nav ul li a {
  color: white;
}

/*hover*/

.nav ul li:hover {
  cursor: pointer;
}

.nav ul li:hover .navmenu {
  display: block;
  position: absolute;
  background-color: gray;
  margin-top: 5px;
  margin-right: 5px;
}

.nav ul li:hover .navmenu ul {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

/*doctors*/

.doctors div img {
  width: 24px;
  height: 24px;
}

.doctors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1%;
  padding: 1%;
  background-color: #3d83df;
  color: white;
  border-radius: 5%;
}

/*Clinics*/

.clinics div img {
  width: 24px;
  height: 24px;
}

.clinics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1%;
  padding: 1%;
  background-color: #1b2734;
  color: white;
  border-radius: 5%;
}

/*navbar clinics*/

/*nav1*/
.nav1 ul {
  list-style: none;
}

.nav1 ul li a {
  color: white;
}

.nav1 ul li:hover {
  cursor: pointer;
}

.nav1 ul li:hover .navmenu {
  display: block;
  position: absolute;
  background-color: gray;
  margin-top: 5px;
  margin-right: 5px;
}

.nav1 ul li:hover .navmenu ul {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

/*nav2*/

.nav2 ul {
  list-style: none;
}

.nav2 ul li a {
  color: white;
}

.nav2 ul li:hover {
  cursor: pointer;
}

.nav2 ul li:hover .navmenu {
  display: block;
  position: absolute;
  background-color: gray;
  margin-top: 5px;
  margin-right: 5px;
}

.nav2 ul li:hover .navmenu ul {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

/*stats*/

/* New CSS */
.stats {
  display: flex;
  justify-content: space-between;
  padding: 2% 13%;
  background-color: #e5faf8;
  overflow: hidden;
  position: relative;
}

.stats-intro {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
}

.stats-content {
  flex: 3;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stats-intro img {
  position: absolute;
  bottom: -20%;
  left: 5%;
}

.stats1,
.stats2,
.stats3,
.stats4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5%;
  width: 230px;
  height: 250px;
  margin-top: 2%;
  padding: 3%;
}

.stats4,
.stats2 {
  transform: translateY(-20px);
}

.stats1 p,
.stats3 p {
  text-align: center;
}

/*footer*/

.footer {
  display: flex;
  justify-content: center;
  line-height: 10px;
  border-top: 1px solid gray;
  padding-top: 2%;
}

#pfooter {
  text-align: center;
}
